[run]
omit =
    src/setupTests.ts
    src/__tests__/**/*
    src/**/*.d.ts
    src/index.tsx
    src/**/*.stories.{ts,tsx}
    src/vite-env.d.ts

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    def main 